a2a-sdk[grpc]>=0.2.16
python-dotenv
fastapi
uvicorn
chromadb
requests
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
python-multipart
pydantic
httpx
chromadb
pydantic[email]
jinja2